<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CategoryItemController</servlet-name>
        <servlet-class>controllers.CategoryItemController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SigninControl</servlet-name>
        <servlet-class>controllers.SigninControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupControl</servlet-name>
        <servlet-class>controllers.SignupControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileControl</servlet-name>
        <servlet-class>controllers.ProfileControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>controllers.Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartControl</servlet-name>
        <servlet-class>controllers.CartControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>order</servlet-name>
        <servlet-class>controllers.OrderControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartActControl</servlet-name>
        <servlet-class>controllers.CartActControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PagingControl</servlet-name>
        <servlet-class>controllers.PagingControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dashboard</servlet-name>
        <servlet-class>controllers.DashboardControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelOrder</servlet-name>
        <servlet-class>controllers.CancelOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfile</servlet-name>
        <servlet-class>controllers.EditProfileControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductControl</servlet-name>
        <servlet-class>controllers.ProductControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>search-pro</servlet-name>
        <servlet-class>controllers.SearchProController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CRUDControl</servlet-name>
        <servlet-class>controllers.CRUDControl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CategoryItemController</servlet-name>
        <url-pattern>/category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SigninControl</servlet-name>
        <url-pattern>/account/signin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupControl</servlet-name>
        <url-pattern>/account/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileControl</servlet-name>
        <url-pattern>/account/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/index-controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartControl</servlet-name>
        <url-pattern>/cart-control</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartActControl</servlet-name>
        <url-pattern>/CartActControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PagingControl</servlet-name>
        <url-pattern>/paging</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelOrder</servlet-name>
        <url-pattern>/cancelOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfile</servlet-name>
        <url-pattern>/editProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>order</servlet-name>
        <url-pattern>/manage-order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dashboard</servlet-name>
        <url-pattern>/manage-dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductControl</servlet-name>
        <url-pattern>/manage-product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>search-pro</servlet-name>
        <url-pattern>/search-pro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CRUDControl</servlet-name>
        <url-pattern>/manage-crudPro</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
